html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0; 
}

.header {
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px #000000;
  -moz-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
}

.noke-title {
  width: 100px;
  height: 100%;
  color: rgb(12, 12, 12);
  font-size: 45px;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  line-height: 55px;
}

.header-title {
  margin: 0 0 0 20px;
}

.noke-title-blue {
  color: rgb(0, 109, 192);
  padding: 0;
  margin: 0;
}

.noke-overline {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.noke-overline:before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: rgb(13, 106, 176);
  position: relative;
  top: 15px;
  left: 3px;
}

.section {
  width: 100%;
  height: 90%;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px #000000;
  -moz-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
}

.background-left {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-image: url(assets/AdobeStock_Buildings_Image.jpeg);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 50%), url(assets/AdobeStock_Buildings_Image.jpeg);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 50%), url(assets/AdobeStock_Buildings_Image.jpeg);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 50%), url(assets/AdobeStock_Buildings_Image.jpeg);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%), url(assets/AdobeStock_Buildings_Image.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 0px;
}

.background-right {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-image: url(assets/Noke_lockgate.jpg);
  background-image: -webkit-linear-gradient(left, #ffffff 50%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
  background-image: -o-linear-gradient(left, #ffffff 50%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
  background-image: -moz-linear-gradient(left, #ffffff  50%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
  background-image: linear-gradient(to right, #ffffff  50%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 0px;
}

.center-content {
  width: 50%;
  min-width: 600px;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  width: 100%;
  font-size: 80px;
  color: rgb(36, 31, 32);
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 0;
  margin: 0 0 0 11px;
}

.center-container {
  width: 49.65%;
  height: 63%;
  display: inline-block;
  padding: 0;
  margin: 35px 0 0 0;
  float: left;
}

.center-left:after {
  content: "";
  display: block;
  width: 2px;
  height: 67%;
  background: rgb(207, 206, 206);
  position: relative;
  top: -151px;
  left: 100.5%;
  padding: 0;
  margin: 0;
}

.image-a {
  height: 75px;
  width: 75px;
  display: block;
  margin: 0 auto;
}

.building {
  height: 75px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.house {
  height: 75px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.center-title {
  width: 100%;
  color: rgb(36, 31, 32);
  font-size: 28px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  text-align: center;
  line-height: 100%;
  padding: 0;
  margin: 10px 0 2px 0;
}

.noke-overline-sm {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.noke-overline-sm:before {
  content: "";
  display: block;
  width: 9px;
  height: 1px;
  background-color: rgb(36, 31, 32);
  position: relative;
  top: 6px;
  left: 2px;
}

.center-paragraphs {
  width: 100%;
  color: rgb(36, 31, 32);
  font-size: 18px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  width: 100%;
  height: 10%;
  min-height: 145px;
  clear: both;
  background: rgb(240, 240, 241);
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

.footer-list {
  font-family: 'Yantramanav', sans-serif;
  font-size: 19px;
  line-height: 20px;
  display: inline-block;
  float: left;
  list-style: none;
  margin-top: 30px;
}

.footer-l-item {
  margin-bottom: 3px;
}

.footer-title {
  height: 55px;
  float: right;
  margin: 75px 25px 0 0;
}

@media only screen and (max-device-width : 675px) {
  
  .header {
  height: 35px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 1px #000000;
  -moz-box-shadow: 0px 0px 1px #000000;
  box-shadow: 0px 0px 1px #000000;
  }
  
  .noke-title {
    width: 65px;
    font-size: 25px;
    line-height: 33px;
    margin: 0;
  }
  
  .noke-overline:before {
    width: 7px;
    height: 1px;
    top: 9px;
    left: 3px;
  }
  
  .section {
    height: 95%;
  }
  
  .background-left {
    width: 100%;
    height: 50%;
    display: block;
    background-image: url(assets/Noke_lockgate.jpg);
    background-image: -webkit-linear-gradient(bottom left, #ffffff 25%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
    background-image: -o-linear-gradient(bottom left, #ffffff 25%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
    background-image: -moz-linear-gradient(bottom left, #ffffff 25%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
    background-image: linear-gradient(to top, #ffffff 25%, rgba(255, 255, 255, 0)), url(assets/Noke_lockgate.jpg);
    background-repeat: no-repeat;
    background-position: -4% 38%;
    background-size: 135% 135%;
    z-index: -10;
  }
  
  .background-right {
    width: 100%;
    height: 50%;
    display: block;
    background-image: url(assets/AdobeStock_Buildings_Image.jpeg);
    background-image: -webkit-linear-gradient(19deg, rgba(255, 255, 255, 0), #ffffff 60%), url(assets/AdobeStock_Buildings_Image.jpeg);
    background-image: -o-linear-gradient(19deg, rgba(255, 255, 255, 0), #ffffff 60%), url(assets/AdobeStock_Buildings_Image.jpeg);
    background-image: -moz-linear-gradient(19deg, rgba(255, 255, 255, 0), #ffffff 60%), url(assets/AdobeStock_Buildings_Image.jpeg);
    background-image: linear-gradient(19deg, rgba(255, 255, 255, 0), #ffffff 70%), url(assets/AdobeStock_Buildings_Image.jpeg);
    background-repeat: no-repeat;
    background-position: 67% 34%;
    background-size: 160% 160%;
  }
  
  .center-content {
    width: 100%;
    min-width: 100%;
    height: 45%;
    min-height: 315px;
  }
  
  .main-title {
    display: none;
  }
  
  .center-container {
    width: 100%;
    height: 50%;
    margin: 0;
  }
  
  .center-left {
    position: absolute;
    bottom: 0;
  }
  
  .center-left:after {
    display: none;
  }
  
  .center-right:after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background: rgb(207, 206, 206);
    position: relative;
    top: 30px;
    padding: 0;
    margin: 0 auto;
  }
  
  .center-right {
    position: absolute;
    top: 0;
  }
  
  .building {
    height: 40px;
  }
  
  .house {
    height: 40px;
  }
  
  .image-a {
    height: 40px;
    width: 40px;
  }
  
  .center-title {
    font-size: 21px;
  }
  
  .noke-overline-sm:before {
    width: 5px;
    height: 1px;
    top: 3px;
    left: 2px;
  }
  
  .center-paragraphs {
    font-size: 16px;
    letter-spacing: 0;
  }
  
  .footer {
    min-height: 105px;
  }
  
  .footer-list {
    font-size: 11px;
    line-height: 11px;
    margin: 26px 0px 0px 18px;
    padding: 0 0 0 0px;
  }
  
  .footer-title {
    display: none;
  }
  
}